body{
    background-color: darkblue;
    background-image: url(code-1839406_1280.jpg);
    background-size: 100%;
    background-blend-mode:overlay;


}
img{
    padding: -5px;
}
.box{
    background-color: rgb(204, 185, 170);
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 50px;
    margin-top: 90px;
}
.second{
    background-color: rgb(204, 185, 170);
    width: 300px;
    height: 400px;
    padding: 50px;
    border-radius: 50px;
}
.first{
    background-color: rgb(204, 185, 170);
    width: 300px;
    height: 450px;
    padding: 20px;
    border-radius: 50px;
    margin-left: 450px;
    margin-top: -60px;
}
.third{
    background-color: rgb(204, 185, 170);
    width: 300px;
    height: 400px;
    padding: 50px;
    border-radius: 50px;
    margin-left: 900px;
    margin-bottom: 300px;
    margin-top: -500px;
}
.third1{
    background-color: rgb(204, 185, 170);
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 50px;
    margin-left: 950px;
    margin-bottom: 0px;
    margin-top: -450px;
    
}
h2{
    color: antiquewhite;
    font-family: monospace;
}
p{
    color: whitesmoke;
}
.course1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}
.p1{
    color:gray;
}
.grid{
    display: grid;
    gap: 10px;
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 55px;
}
.grid1{
    display: grid;
    gap: 10px;
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 55px;
    margin-top: 25px;
}
.grid2{
    display: grid;
    gap: 10px;
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 55px;
    margin-top: 25px;
}
.grid3{
    display: grid;
    gap: 10px;
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 55px;
    margin-top: 25px;
}
div{
    text-align: center;
    font-size: 20px;
   
   
}
.grid02,.grid03,.grid04,.grid05{
    font-family: monospace;
    color: rgb(133, 59, 7);
}
.grid02:hover,.grid03:hover,.grid04:hover,.grid05:hover{
    color: rgb(12, 11, 11);
    
}
